In [1]:
import sys
sys.path.append('..')

In [2]:
import pandas as pd
from config import *

In [9]:
df = pd.read_csv(path_arquivo_pprocessed)

In [5]:
features = ['marital', 'y_educa', 'gender', 'age','n_children', 'takes_medicine',
            'country', 'functional_score', 'cover_score','work_life']

In [11]:
df['gender'] = df['gender'].map({1:1,2:0})

In [14]:
df_cluster = pd.get_dummies(df[features])

In [16]:
from sklearn.cluster import KMeans
import numpy as np
kmeans = KMeans(n_clusters=2, random_state=0).fit(df_cluster)

In [17]:
kmeans.labels_

array([1, 1, 1, ..., 1, 1, 0])

In [18]:
len(kmeans.labels_)

7436

In [19]:
len(df)

7436

In [20]:
df['label'] = kmeans.labels_

In [21]:
df[]

,folio,marital,y_educa,gender,age,last_level_school,religion,n_children,takes_medicine,kind_health_ins,times_hospital,payd_job,age_begin_working,age_stop_working,country,functional_score,cover_score,flexibility_score,work_life,label
0,0,Widowed,4.0,0,82,1.0,Anglican,6.0,1.0,Other public insurance,0.0,1.0,12.0,56.0,Brasil,10.0,8.0,0.0,44.0,1
1,1,Married,2.0,0,82,1.0,Roman Catholic,1.0,1.0,Social security,0.0,1.0,15.0,59.0,Brasil,8.0,0.0,30.0,44.0,1
2,2,Married,0.0,0,83,1.0,Anglican,11.0,1.0,Social security,0.0,1.0,7.0,74.0,Brasil,10.0,0.0,23.0,67.0,1
3,3,Married,0.0,0,75,1.0,Roman Catholic,3.0,1.0,Social security,0.0,1.0,7.0,73.0,Brasil,10.0,0.0,23.0,66.0,1
4,4,Widowed,4.0,1,78,1.0,Roman Catholic,2.0,1.0,Social security,0.0,1.0,15.0,62.0,Brasil,6.0,0.0,10.0,47.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7431,7445,Others,8.0,1,60,1.0,Others,5.0,1.0,None,0.0,1.0,17.0,60.0,Barbados,9.0,0.0,40.0,43.0,1
7432,7446,Others,10.0,0,60,1.0,Others,0.0,0.0,None,0.0,1.0,13.0,60.0,Barbados,10.0,0.0,40.0,47.0,1
7433,7447,Married,10.0,0,60,1.0,Others,2.0,1.0,None,0.0,1.0,19.0,60.0,Barbados,9.0,0.0,40.0,41.0,1
7434,7448,Married,5.0,0,60,1.0,Anglican,4.0,1.0,Private security,1.0,1.0,15.0,60.0,Barbados,10.0,22.0,40.0,45.0,1
7435,7449,Others,10.0,1,60,1.0,Others,7.0,1.0,None,0.0,1.0,39.0,60.0,Barbados,7.0,0.0,40.0,21.0,0